body{
    background-color: rgb(24, 22, 22);
    height: 10000px;
    margin: 0px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    min-width: 600px;
}
html{
    scroll-behavior: smooth;
}