#checkout-logo{
    position: absolute; 
    top: 20px; 
    left: 50%; 
    z-index: 10; 
    height: 110px;
    transform: translateX(-50%);
}


#Hero-Area{
    position: absolute; 
    bottom: 100px; 
    left: 60px; 
    z-index: 10; 
    height: 220px;
    max-width: 600px;
    width: auto;
    min-width: 400px;
}
#Hero-box1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
    background-color: burlywood;
    display: inline-block;
    padding: 5px;
    color: white;
    font-weight: 100;
}
#Hero-txt1{
    font-family: "Orbitron", sans-serif;
    font-size: 45px;
    margin: 5px;
    color: white;
    margin-left: 0px;
}
#Hero-txt2{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 15px;
    margin: 5px;
    margin-top: 5px;
    color: white;
    margin-left: 0px;
}
#Hero-box2{
    color: black;
    margin: 0px;
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    letter-spacing: 2px;
    word-spacing: 4px;
    animation: moveUpGlow 3s ease-in-out infinite;
}
@keyframes moveUpGlow {
    0% {
        transform: translateY(0);
        box-shadow: 0 0 5px rgba(255, 215, 0, 0);
    }
    50% {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 0 5px rgba(255, 215, 0, 0);
    }
}
#Hero-box2:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}
#Hero-box2:active{
    background-color: rgb(173, 173, 173);
}


#Category-container{
    width: 100%;
    height: 300px;
    color: white;
    min-width: 600px;
}
#categories{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;

    
}
.dotted-line {
  display: inline-block;
  width: 2px;
  height: 20px;
  border-left: 2px dotted white;
  margin: 0 5px;
  vertical-align: middle;
}
#categories p{
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 5px;
    cursor: pointer;
}
#categories-box2{
    width: 100%;
    height: 175px;
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#big-category{
    font-family: "Orbitron", sans-serif;
    font-size: 40px;
    position: relative;
    top: -50px;
}
#small-category{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -100px;
}
#box-category{
    color: black;
    margin: 0px;
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 13px;
    position: relative;
    top: -80px;
    bottom: 0px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-decoration: none;
    animation: moveUpGlow 3s ease-in-out infinite;
}
#box-category:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}
#box-category:active{
    background-color: rgb(173, 173, 173);
}
#underline{
    width: 100px;
    height: 3px;
    background-color: white;
    position: relative;
    bottom: -50px;
}


.category-content {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 2.0%;
}

.category-content.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.product-container{
    height: 530px; 
    width: 22%;
}
#product-img-container{
    width: 100%; 
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-img-container img{
    width: 90%; 
    height: 93%;
    border-radius: 20px;
    transition: width 0.3s ease, height 0.3s ease;
}
#product-img-container img:hover {
    width: 100%;
    height: 100%
}
#Product-Name{
    color: lightgray;
    font-weight: bold;
    font-size: 13px;
    margin-top: 0px;
    padding-top: 13px;
    padding-left: 5%;
    margin-bottom: 5px;
}
#Product-Category{
    margin: 0px;
    padding-left: 5%;
    padding-top: 10px;
    font-size: 13px;
    color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    transform: scaleY(1);
}
#Product-Cost{
    margin: 0px;
    padding-left: 5%;
    padding-top: 5px;
    font-size: 13px;
    color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
    transform: scaleY(1);
}